.thumbnail {
    box-sizing: border-box;
    border: 0.5em solid #b80000;
    background: #e90000;
    line-height: 0em;
    float: left;
    width: 32.66%;
    margin: 0 1% 1% 0;
}
@media (max-width:799px) {
    .thumbnail:nth-child(3n) {
        margin-right: 0;
    }
}
@media (min-width:800px) and (max-width:1200px) {
    .thumbnail {
        width:24.25%;
    }
    .thumbnail:nth-child(4n) {
        margin-right:0;
    }
}
@media (min-width:1201px) {
    .thumbnail {
        width:15.83%;
    }
    .thumbnail:nth-child(6n) {
        margin-right:0;
    }
}

.thumbnail img {
    max-width:100%;
}
section {
    min-width:200px;
}


/* implement media queries to
    -  break after 4th thumbnail when width < 1200px
    -  break after 3rd thumbnail when width < 800px
*/